<!-- Partner List-->
<div class="row">
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h1>Manage {{entityInfo.namePlural}}</h1>
      </div>

      <div class="flex-grid action-bar">
        <div class="row header center">
          <div class="col search">
            <input (keyup)="onFilter(filterVal)" type="text" class="form-control" placeholder="Filter by name or description" aria-label="Filter by name or description" aria-describedby="basic-addon2" [(ngModel)]="filterVal">
            <button type="button" class="btn icon-inset" title="btn" (click)="onFilter(filterVal)"><i class="feather icon-filter"></i></button>
          </div>
          <div class="col left">
            <a [routerLink]="[entityInfo.url + '/new']"><button type="button" class="btn"><i class="fa fa-plus-circle"></i>Add {{entityInfo.name}}</button></a>
          </div>
        </div>
      </div>
      <div class="no-data info" *ngIf="isLoaded && (dataRows == null || dataRows.length == 0)">
        There are no {{entityInfo.name | lowercase}} records.
      </div>
      <div class="flex-grid striped" *ngIf="dataRowsFiltered != null && dataRowsFiltered.length > 0">
        <div class="row header bottom">
          <div class="col col-icon"></div>
          <div class="col col-medium"><span class="sort" (click)="sortColumn('name')">{{entityInfo.name}}<i class="{{svcUtility.setSortIndicator(sort,'name')}}"></i></span></div>
          <div class="col col-medium"><span class="sort" (click)="sortColumn('description')">Description<i class="{{svcUtility.setSortIndicator(sort,'description')}}"></i></span></div>
          <div class="col right"><span class="sort" (click)="sortColumn('userCount')"># of Users<i class="{{svcUtility.setSortIndicator(sort,'userCount')}}"></i></span></div>
          <div class="col"></div>
        </div>
        <div class="row" *ngFor="let row of dataRowsFiltered; let i=index;">
          <div class="col col-icon"><a [routerLink]="[entityInfo.url, row.id]"><i class="fa fa-edit"></i></a></div>
          <div class="col col-medium"><a [routerLink]="[entityInfo.url, row.id]">{{row.name}}</a></div>
          <div class="col col-medium">{{row.description}}</div>
          <div class="col right">{{row.userCount}}</div>
          <div class="col"><a [routerLink]="['/admin/user/list', row.id]">Manage Users</a></div>
        </div>
      </div>
      <div class="no-data info" *ngIf="dataRows != null && (dataRowsFiltered == null || dataRowsFiltered.length == 0)">
        There are no {{entityInfo.name | lowercase}} records matching your filter criteria.
      </div>

      <!--
      TBD - Paging UI
      <nav aria-label="pagination">
        <ul class="pagination justify-content-end">

          <li class="page-item disabled"><span class="page-link">Previous</span></li>
          <li class="page-item active">
            <span class="page-link">1<span class="sr-only">(current)</span></span>
          </li>
          <li class="page-item"><a class="page-link" href="#!">2</a></li>
          <li class="page-item"><a class="page-link" href="#!">3</a></li>
          <li class="page-item"><a class="page-link" href="#!">Next</a></li>
        </ul>
      </nav>
      -->

    </div>
  </div>
</div>
<!-- /Partner List -->

<!--
<div class="container mat-elevation-z8" style="display:none;" >

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="primary">
      <input matInput #filter placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="table-margin-bottom">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
<!-- ID Column -->
<!--
<ng-container matColumnDef="Id">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
  <mat-cell *matCellDef="let row">{{row.Id}}</mat-cell>
</ng-container>

<ng-container matColumnDef="Name">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
  <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
</ng-container>

<ng-container matColumnDef="Description">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
  <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
</ng-container>

<ng-container matColumnDef="UserCount">
  <mat-header-cell *matHeaderCellDef mat-sort-header># of Users</mat-header-cell>
  <mat-cell *matCellDef="let row"> {{row.userCount}}</mat-cell>
</ng-container>

<ng-container matColumnDef="DateUpdated">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</mat-header-cell>
  <mat-cell *matCellDef="let row"> {{row.dateUpdated}}</mat-cell>
</ng-container>

<ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef>
    <button mat-icon-button color="primary" (click)="addNew()">
      <i class="fa fa-plus mat-icon"></i>
    </button>
  </mat-header-cell>

  <mat-cell *matCellDef="let row; let i=index;">
    <button mat-icon-button color="primary" (click)="startEdit(i, row.Id, row.Name, row.Description, row.UserCount, row.DateCreated, row.DateUpdated, row.IsActive)">
      <mat-icon aria-label="Edit"></mat-icon>
      <i class="fa fa-pencil mat-icon"></i>
    </button>
  </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

<div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
  There are no partners created in the portal.
</div>

<mat-paginator #paginator
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</div>
-->
