<div class="row alert alert-danger" *ngIf="errorMessages != null && errorMessages.length > 0">
  <span class="close" (click)="clearErrorMessages()"><i class="fa fa-times-circle"></i></span>
  <div class="col-sm-12" *ngFor="let msg of errorMessages; let i=index;">
    {{msg.Message}}
  </div>
</div>
<div class="row alert alert-warning" *ngIf="warnMessages != null && warnMessages.length > 0">
  <span class="close" (click)="clearWarnMessages()"><i class="fa fa-times-circle"></i></span>
  <div class="col-sm-12" *ngFor="let msg of warnMessages; let i=index;">
    {{msg.Message}}
  </div>
</div>
<div class="row alert alert-success" *ngIf="infoMessages != null && infoMessages.length > 0">
  <span class="close" (click)="clearInfoMessages()"><i class="fa fa-times-circle"></i></span>
  <div class="col-sm-12" *ngFor="let msg of infoMessages; let i=index;">
    {{msg.Message}}
  </div>
</div>

<div class="fa-3x loading" *ngIf="isProcessing">
  yoohoo
  <i class="fa fa-spinner fa-spin"></i>
</div>
