.row.alert {border-radius:3px;max-width:98%;margin:0px auto;text-align:left;}
span.close {
  position: absolute;
  right: 1%;
  top: 6px;
}
span.close:hover {cursor:pointer;}
span.close i {font-size:14px;}
