<div class="container">
  <h3 mat-dialog-title>Client Edit: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput [readonly] class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" disabled >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.Name" name="Name" ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

     <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
        <mat-form-field color="accent">
          <input matInput [readonly] class="form-control" placeholder="Description" [(ngModel)]="data.Description" name="Description" disabled maxlength="10" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
    </div>

     <!--Contains mat-hint for characters count and has maxLengt set-->
   <div class="form">
     <mat-form-field color="accent">
      <input matInput #inputstate class="form-control" placeholder="UserCount" [(ngModel)]="data.UserCount" name="DateCreated" maxlength="10" >
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
     </mat-form-field>
   </div>

   <!--Contains mat-hint for characters count and has maxLengt set-->
   <div class="form">
    <mat-form-field color="accent">
      <input matInput #inputstate class="form-control" placeholder="DateCreated" [(ngModel)]="data.DateCreated" name="DateUpdated" maxlength="10" >
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
   </div>
      
   <div mat-dialog-actions>
     <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
<!---      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="Occasions(data.partner_key)">Occasions</button>  -->
     <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
   </div>
  </form>
</div>
