<!-- {{entityInfo.name}} List -->
<div class="row">
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h1>Manage {{entityInfo.namePlural}}</h1>
      </div>

      <div class="flex-grid action-bar">
        <div class="row header center">
          <div class="col search">
            <input (keyup)="onFilter(filterVal)" type="text" class="form-control" placeholder="Filter by report name or description" aria-label="Filter by report name or description" aria-describedby="basic-addon2" [(ngModel)]="filterVal">
            <button type="button" class="btn icon-inset" title="btn" (click)="onFilter(filterVal)"><i class="feather icon-filter"></i></button>
          </div>
          <div class="col left">
          </div>
        </div>
      </div>
      <div class="no-data info" *ngIf="isLoaded && (dataRows == null || dataRows.length == 0)">
        There are no {{entityInfo.name | lowercase}} records.
      </div>
      <div class="flex-grid striped" *ngIf="dataRowsFiltered != null && dataRowsFiltered.length > 0">
        <div class="row header bottom">
          <div class="col col-icon"></div>
          <div class="col"><span class="sort" (click)="sortColumn('name')">Name</span><i class="{{svcUtility.setSortIndicator(sort,'name')}}"></i></div>
          <div class="col"><span class="sort" (click)="sortColumn('description')">Description</span><i class="{{svcUtility.setSortIndicator(sort,'description')}}"></i></div>
        </div>
        <div class="row" *ngFor="let row of dataRowsFiltered; let i=index;">
          <div class="col col-icon"><a [routerLink]="[entityInfo.url + '/', row.id]"><i class="fa fa-edit"></i></a></div>
          <div class="col"><a [routerLink]="[entityInfo.url + '/', row.id]">{{row.name + (row.isSourceManual ? " (manual)" : "")}}</a></div>
          <div class="col">{{row.description}}</div>
        </div>
      </div>
      <div class="no-data info" *ngIf="dataRows != null && (dataRowsFiltered == null || dataRowsFiltered.length == 0)">
        There are no {{entityInfo.name | lowercase}} records matching your filter criteria.
      </div>

    </div>
  </div>
</div>
<!-- /{{entityInfo.name}} List -->
