.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 0px 10px;
  background-color: #ffffff;
}
