<!-- User-Notifications-->
<div class="row">
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h1>My Messages</h1>
      </div>

      <notification-list></notification-list>
    </div>
  </div>
</div>
<!-- /User-Notifications-->
