.nav-item.settings{position:relative;}
.nav-item.settings .sub-nav-settings, .sub-nav-settings {
  display: none;
  position: absolute;
  top: 40px;
  right: 0px;
  background-color: #0079c6;
  border-radius:3px;
}
.nav-item.settings:hover .sub-nav-settings {display:block;}
.nav-item.settings .sub-nav-settings, .sub-nav-settings ul {margin:0px;padding:0px;}
.nav-item.settings .sub-nav-settings, .sub-nav-settings li {
  line-height:normal;
  list-style-type: none;
  white-space: nowrap;
  padding: 10px;
  margin: 3px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.8);
}
.nav-item.settings .sub-nav-settings, .sub-nav-settings li:last-child {border:none;}
.nav-item.settings .sub-nav-settings, .sub-nav-settings li a {text-decoration:none;border:none;}
