<header class="navbar pcoded-header navbar-expand-lg navbar-light header-lightblue headerpos-fixed">
  <div class="m-header">
    <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
    <a href="index.html" class="b-brand">

      <span class="b-title">VDC</span>
    </a>
  </div>
  <a class="mobile-menu" id="mobile-header" href="javascript:">
    <i class="feather icon-more-horizontal"></i>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
      <!--<li class="nav-item dropdown">
          <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown">Dropdown</a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:">Action</a></li>
              <li><a class="dropdown-item" href="javascript:">Another action</a></li>
              <li><a class="dropdown-item" href="javascript:">Something else here</a></li>
          </ul>
      </li>-->
      <li class="nav-item">
        <div class="main-search">
          <div class="input-group">
            <input type="text" id="m-search" class="form-control" placeholder="Search . . .">
            <a href="javascript:" class="input-group-append search-close">
              <i class="feather icon-x input-group-text"></i>
            </a>
            <span class="input-group-append search-btn btn btn-primary">
              <i class="feather icon-search input-group-text"></i>
            </span>
          </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li>
        <!--<img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">-->
        <span>Welcome {{user != null ? user.firstName : ''}} {{user != null && user.companyName != null? ' | ' + user.companyName : ''}}</span>
      </li>
      <li class="nav-item settings">
        <i class="icon feather icon-settings"></i>
        <div class="sub-nav-settings">
          <ul>
            <li><a [routerLink]="['/portal/my-profile']" ><i class="feather icon-user" ></i> Profile</a></li>
            <li><a  [routerLink]="['/portal/my-messages']" ><i class="feather icon-mail"></i> My Messages</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" (click)="logout()">
        <i class="icon feather icon-log-out"></i>
      </li>
    </ul>

  </div>

</header>
