<!-- Login -->
<div class="pcoded-wrapper public-bg login">
  <div class="pcoded-content">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin card">
          <div class="text-center">
            <img class="mb-4" src="assets/images/vdc_logo.png">
            <h1 style="display:none;">Welcome to the Vitamin Discount Center Portal - Login</h1>
            <app-message class="mb-4" style="display:block;"></app-message>
          </div>

          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" formControlName="username" class="form-control" size="30" maxlength="30" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div class="invalid-feedback" *ngIf="submitted && f.username.errors && f.username.errors.required">User Name is required</div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div class="invalid-feedback" *ngIf="submitted && f.password.errors && f.password.errors.required">Password is required</div>
          </div>
          <span class="invalid" *ngIf="submitted && error != ''">{{error}}</span>
          <button [routerLink]="['/login']" class="btn btn-lg btn-login btn-block">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Login -->
