<nav-bar></nav-bar>
<app-header></app-header>
<!-- Portal -->
<div class="portal pcoded-main-container">
  <div class="pcoded-wrapper">
    <app-message></app-message>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- /Portal -->
