<!-- FAQ -->
<div class="row">
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h1>Frequently Asked Questions</h1>
      </div>
      <div class="card-body">
        <div class="col-sm-12">
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel *ngFor="let row of dataRows; let i=index;" id="toggle-{{row.id}}" title="{{row.question}}">
              <ng-template ngbPanelContent>
                {{row.answer}}
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /FAQ -->
