<nav class="pcoded-navbar menu-light brand-lightblue icon-colored">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a [routerLink]="['/portal/home']"  class="b-brand">
        <img src="assets/images/vdc_logo_white.png">
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div ps">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Quick Links</label>
        </li>
        <li class="nav-item"><a [routerLink]="['/home']" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a></li>
        <li class="nav-item"><a [routerLink]="['/admin/partner/list']" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Partner Management</span></a></li>
        <li class="nav-item"><a [routerLink]="['/portal/report/list']" class="nav-link"><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">Reports</span></a></li>
        <li class="nav-item"><a [routerLink]="['/portal/invoice-list']" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Invoices</span></a></li>
        <li class="nav-item"><a [routerLink]="['/portal/photo-tool']" class="nav-link"><span class="pcoded-micon"><i class="feather icon-camera-off"></i></span><span class="pcoded-mtext">Damaged Photo Tool</span></a></li>
        <li class="nav-item"><a [routerLink]="['/portal/faq']" class="nav-link"><span class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">FAQ's</span></a></li>
      </ul>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
    </div>
  </div>
</nav>

