<nav-bar></nav-bar>
<app-header></app-header>
<!-- Admin -->
<div class="admin pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">

        <div class="main-body">
          <div class="page-wrapper">
            <app-message></app-message>
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /Admin -->
