<!-- User Entity-->
<div class="row">
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h1>{{item.id == undefined ? "Add" : "Edit"}} User {{item.id == undefined ? "" : "-" + item.username }}</h1>
        <div class="actions right">
          <a [routerLink]="['/admin/user/list/', partnerId ]"><i class="fa fa-chevron-left mr-2"></i>Back to Manage Users</a>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="frmEdit" *ngIf="item">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="username">User Name*</label>
                <span class="invalid" *ngIf="svcUtility.validateFormField_Required(f.username)">Required</span>
                <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="{ 'is-invalid': svcUtility.validateFormField_Required(f.username) }">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label> <span class="invalid" *ngIf="svcUtility.validateFormField_Required(f.email)">Required</span>
                <input type="text" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': svcUtility.validateFormField_Required(f.email) }">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstName">First Name*</label> <span class="invalid" *ngIf="svcUtility.validateFormField_Required(f.firstName)">Required</span>
                <input type="text" class="form-control" id="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': svcUtility.validateFormField_Required(f.firstName) }">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastName">Last Name*</label> <span class="invalid" *ngIf="svcUtility.validateFormField_Required(f.lastName)">Required</span>
                <input type="text" class="form-control" id="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': svcUtility.validateFormField_Required(f.lastName) }">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="item.id != undefined">
            <div class="col-md-6">
              <div class="form-group">
                <input type="checkbox" id="active" name="active" formControlName="active">
                <label for="active">Active</label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="item.id != undefined">
            <div class="col-md-6">
              <div class="form-group">
                <input type="checkbox" id="locked" name="locked" formControlName="locked">
                <label for="locked">Locked</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label formArrayName="permissions" *ngFor="let permission of frmEdit.controls.permissions.controls; let i = index">
                    <input type="checkbox" [formControlName]="i">
                    {{permissions[i].name}}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" (click)="onSubmit()" [disabled]="frmEdit.invalid || frmEdit.pristine">Save</button>
            </div>
            <div class="col-md-12" *ngIf="error != ''">
              <span class="invalid">{{error}}</span>
            </div>
            <div class="col-md-12" *ngIf="item.id != undefined">
              <div class="info">
                Last updated: {{item.dateUpdated | date: 'M/d/yyyy'}}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /User Entity-->
