<!-- Client Entity-->
<div class="row">
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h1>{{item.id == undefined ? "Add" : "Edit"}} Partner {{item.id == undefined ? "" : "- " + item.name }}</h1>
        <div class="actions right">
          <a [routerLink]="['/admin/partner/list']"><i class="fa fa-chevron-left mr-2"></i>Back to Partners</a>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="frmEdit" *ngIf="isLoaded">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" *ngIf="item.id == undefined">
                <label for="name">Name*</label> <span class="invalid" *ngIf="svcUtility.validateFormSelectField_Required(f.tplPartnerID)">Required</span>
                <select class="form-control" formControlName="tplPartnerID" *ngIf="item.id == undefined" [ngClass]="{ 'is-invalid': svcUtility.validateFormSelectField_Required(f.tplPartnerID) }">
                  <option *ngFor="let partner of unassignedPartners;" [ngValue]="partner.id">{{partner.partnerName}}</option>
                </select>
              </div>
              <div class="form-group" *ngIf="item.id != undefined">
                <label>Name</label><br />
                <label class="b500">{{item.name}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" formControlName="description" rows="2"></textarea>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="item.id != undefined">
            <div class="col-md-6">
              <div class="form-group">
                <input type="checkbox" id="active" name="active" formControlName="active" >
                <label for="active">Active</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" (click)="onSubmit()" [disabled]="frmEdit.invalid || frmEdit.pristine">Save</button>
              <span *ngIf="item.id != undefined">
                <a [routerLink]="['/admin/user/list', item.id]">Manage Users</a>
              </span>
            </div>
            <div class="col-md-12" *ngIf="error != ''">
              <span class="invalid">{{error}}</span>
            </div>
            <div class="col-md-12" *ngIf="item.id != undefined">
              <div class="info">
                Last updated: {{item.dateUpdated | date: 'M/d/yyyy'}}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Client Entity-->
