<!-- Report Engine-->
<div class="row">
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h1>Report - {{report.name  + (report.isSourceManual ? " (manual)" : "")}}</h1>
        <div class="actions right report">
          <ul>
            <li>
              <a [routerLink]="['/portal/report/list']"><i class="fa fa-chevron-left mr-2"></i>Back to Reports</a>
            </li>
            <li (click)="downloadPDF()"><i class="feather icon-download"></i>PDF</li>
            <li (click)="downloadCSV()"><i class="feather icon-download"></i>XLS</li>
          </ul>
        </div>
      </div>

      <div class="report-filter-container" *ngIf="report.filters != null && report.filters.length > 0 && dataRowsFiltered != null && dataRowsFiltered.length > 0">
        <div class="card-header filter-toggle" >
          <h5 (click)="toggleMyFilter()">{{filterToggle ? "Hide" : "Show" }}</h5>
          <div class="actions right report" *ngIf="filterToggle">
            <button type="button" class="btn btn-primary" title="Filter" (click)="onFilter()"><i class="feather icon-filter"></i>Apply</button>
          </div>
        </div>
        <div class="card-body" [ngClass]="{'show': filterToggle}" >
          <form>
            <div class="row">
              <div class="col-md-3" *ngFor="let col of report.filters; let i=index;">
                <div class="form-group {{filterClass(col)}}" >
                  <label for="{{col.fieldName}}">{{col.description == null ? col.fieldName : col.description}}</label>
                  <ng-container *ngIf="col.criteria == 'like' || col.criteria == 'equals' || col.criteria == null">
                    <input type="text" class="form-control" id="{{col.fieldName}}" placeholder="Filter by {{col.description == null ? col.fieldName : col.description}}" [(ngModel)]="col.value" name="{{i + col.fieldName}}" />
                  </ng-container>
                  <ng-container *ngIf="col.criteria.indexOf('dt_') > -1">
                    <ng-datepicker [(ngModel)]="col.value" [options]="dtOptions" name="{{i + '_ngx_dt_' + col.fieldName}}"></ng-datepicker>
                  </ng-container>
                  <ng-container *ngIf="col.criteria.indexOf('num_') > -1">
                    <input type="text" class="form-control" id="{{col.fieldName}}" placeholder="Filter by {{col.description == null ? col.fieldName : col.description}}" [(ngModel)]="col.value" name="{{i + col.fieldName}}" />
                    <select class="form-control filter-operator" [(ngModel)]="col.criteria" name="{{i + '_ddl_num_' + col.fieldName}}">
                      <option *ngFor="let op of filterNumberOperators;" [ngValue]="op.name">{{op.caption}}</option>
                    </select>
                  </ng-container>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="no-data info center" *ngIf="dataRowsFiltered == null || dataRowsFiltered.length == 0">
        There are no {{report.name | lowercase}} records.
      </div>
      <div #reportHeader class="report-container virtual-scroll" *ngIf="dataRowsFiltered != null && dataRowsFiltered.length > 0">
        <div class="flex-grid striped" [ngStyle]="{width: report.width != null ? report.width : '100%'}">
          <div class="row header bottom">
            <div *ngFor="let col of report.reportColumns; let i=index;" class="col {{col.alignment}} {{col.cssClass}}">
              <span *ngIf="col.sortable" [ngClass]="{'sort': col.sortable}" (click)="sortColumn(col.name)">{{col.description}}<i class="{{setSortIndicator(col.name)}}"></i></span>
              <ng-container *ngIf="!col.sortable">{{col.description}}</ng-container>
            </div>
          </div>
        </div>
      </div>
      <div #reportBody class="report-container" *ngIf="dataRowsFiltered != null && dataRowsFiltered.length > 0">
        <div #reportData class="flex-grid striped" [ngStyle]="{width: report.width != null ? report.width : '100%'}">
          <div class="row" *ngFor="let row of dataRowsFiltered; let i=index;">
            <div *ngFor="let col of report.reportColumns; let i=index;" class="col {{col.alignment}} {{col.cssClass}}">
              {{row[col.name]}}
            </div>
          </div>
        </div>
      </div>
      <div class="report-scroll-container" *ngIf="isScrollVisible()">
        <ul class="scroll-nav">
          <li><span class="scroll-button scroll-left" (click)="scroll(-200)"><i _ngcontent-c6="" class="feather icon-chevron-left"></i></span></li>
          <li><span class="scroll-button scroll-right" (click)="scroll(200)"><i _ngcontent-c6="" class="feather icon-chevron-right"></i></span></li>
        </ul>
      </div>

      <!--Paging UI -->
      <div class="row" *ngIf="this.pager.length > 1">
        <div class="col-sm-12">
          <ul class="pager">
            <li *ngFor="let p of pager;" [ngClass]="{'current' : p==currentPage }" (click)="pageData(p)">
              {{p}}
            </li>
          </ul>
        </div>
        <div class="col-sm-12">
          <div class="page-size-container">
            Change page size:
            <select class="form-control" [(ngModel)]="pageSize" (change)="changePageSize()">
              <option *ngFor="let sz of pageSizeOptions;" [ngValue]="sz">{{sz}}</option>
            </select>
          </div>
        </div>
      </div>
      <!--/Paging UI -->

    </div>
    </div>
</div>
<!-- /Report Engine -->
