                            <!-- [ Main Content ] start -->
<div class="row">
  <!-- [ sample-page ] start -->
  <div class="col-sm-12">


    <div class="card Recent-Users">
      <div class="card-header">
        <h5>Manage Roles</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Client Name</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Client One</option>
                  <option>Client Two</option>
                  <option>Client Three</option>
                  <option>Client Four</option>
                  <option>Client Five</option>
                </select>
              </div>

              <div class="row">
                <div class="col-md-6">

                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>

                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Advertising Report</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Finance Report</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Adjustment Report</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <form>
                    <div class="form-group">
                      <label>Text</label>
                      <input type="text" class="form-control" placeholder="Text">
                    </div>


                  </form>
                </div>

                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary right">Submit</button>
                </div>
              </div>
            </form>

          </div>

        </div>
      </div>




    </div> <!-- //End Row-->
  </div>
</div>
<!-- [ Main Content ] end -->
