<!-- Notifications -->
<div class="flex-grid notifications">
  <div class="row center" *ngFor="let row of dataRows; let i=index;">
    <div class="col x-small"><span class="notification-icon">
      <i class="feather icon-bar-chart {{row.severity | lowercase}}"
         [ngClass]="{'icon-alert-triangle': row.category == 'General' || row.category == 'System', 'icon-bar-chart': row.category == 'Report', 'icon-layers': row.category == 'Invoice'}" ></i></span></div>
    <div class="col x-large">
      <a [routerLink]="['/portal/notification/', row.Id]">{{row.name}}</a>
      <p *ngIf="row.Description != null && row.Description != ''">{{row.description}}</p>
    </div>
    <div class="col right active-date text-muted">{{row.dateActive | date: 'dd MMMM h:mm a'}}</div>
    <div class="col"><a [routerLink]="['/portal/notification/', row.id]" class="btn btn-primary">View</a></div>
  </div>
</div>
<!-- /Notifications -->
