<!-- User Profile-->
<div class="row">
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h1>My Profile</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="frmEdit" >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="userName">User Name*</label>
                <input type="text" class="form-control" id="userName" />
                <!--
                    <span class="invalid" *ngIf="svcUtility.validateFormField_Required(f.userName)">Required</span>
                    <input type="text" class="form-control" id="userName" formControlName="userName" [ngClass]="{ 'is-invalid': svcUtility.validateFormField_Required(f.userName) }">
                -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstName">First Name*</label> <span class="invalid" *ngIf="svcUtility.validateFormField_Required(f.firstName)">Required</span>
                <input type="text" class="form-control" id="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': svcUtility.validateFormField_Required(f.firstName) }">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastName">Last Name*</label> <span class="invalid" *ngIf="svcUtility.validateFormField_Required(f.lastName)">Required</span>
                <input type="text" class="form-control" id="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': svcUtility.validateFormField_Required(f.lastName) }">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" (click)="onSubmit()" [disabled]="frmEdit.invalid || frmEdit.pristine">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /User Profile-->
