<!-- {{entityInfo.name}} List -->
<div class="row">
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h1>Manage {{entityInfo.namePlural}}</h1>
        <div class="actions right">
          <a [routerLink]="['/admin/partner/list']"><i class="fa fa-chevron-left mr-2"></i>TBD - Back to Partner</a>
        </div>
      </div>

      <div class="flex-grid action-bar">
        <div class="row header center">
          <div class="col search">
            <input (keyup)="onFilter(filterVal)" type="text" class="form-control" placeholder="Filter by user name, first or last name" aria-label="Filter by user, first or last name" aria-describedby="basic-addon2" [(ngModel)]="filterVal">
            <button type="button" class="btn icon-inset" title="btn" (click)="onFilter(filterVal)"><i class="feather icon-filter"></i></button>
          </div>
          <div class="col left">
            <a [routerLink]="[entityInfo.url + '/new']"><button type="button" class="btn"><i class="fa fa-plus-circle"></i>Add {{entityInfo.name}}</button></a>
          </div>
        </div>
      </div>
      <div class="no-data info" *ngIf="isLoaded && (dataRows == null || dataRows.length == 0)">
        There are no {{entityInfo.name | lowercase}} records.
      </div>
      <div class="flex-grid striped" *ngIf="dataRowsFiltered != null && dataRowsFiltered.length > 0">
        <div class="row header bottom">
          <div class="col col-icon"></div>
          <div class="col col-medium"><span class="sort" (click)="sortColumn('userName')">User Name</span><i class="{{svcUtility.setSortIndicator(sort,'userName')}}"></i></div>
          <div class="col col-medium"><span class="sort" (click)="sortColumn('firstName')">First Name</span><i class="{{svcUtility.setSortIndicator(sort,'firstName')}}"></i></div>
          <div class="col col-medium"><span class="sort" (click)="sortColumn('lastName')">Last Name<i class="{{svcUtility.setSortIndicator(sort,'lastName')}}"></i></span> </div>
        </div>
        <div class="row" *ngFor="let row of dataRowsFiltered; let i=index;">
          <div class="col col-icon"><a [routerLink]="[entityInfo.url, row.id]"><i class="fa fa-edit"></i></a></div>
          <div class="col col-medium"><a [routerLink]="[entityInfo.url , row.id]">{{row.userName}}</a></div>
          <div class="col col-medium">{{row.firstName}}</div>
          <div class="col col-medium">{{row.lastName}}</div>
        </div>
      </div>
      <div class="no-data info" *ngIf="dataRows != null && (dataRowsFiltered == null || dataRowsFiltered.length == 0)">
        There are no {{entityInfo.name | lowercase}} records matching your filter criteria.
      </div>
    </div>
  </div>
</div>
<!-- /{{entityInfo.name}} List -->
