<div class="form-group">
  <label for="{{col.fieldName}}">{{col.description == null ? col.fieldName : col.description}}</label>
  <input *ngIf="col.criteria == 'like' || col.criteria == 'equals'" type="text" class="form-control" id="{{col.fieldName}}" placeholder="Filter by {{col.description == null ? col.fieldName : col.description}}" [(ngModel)]="col.value" name="{{i + col.fieldName}}" />
  <input *ngIf="col.criteria == 'dt_gte' || col.criteria == 'dt_lte' || col.criteria == 'dt_equals'" type="text" class="form-control" id="{{col.fieldName}}" placeholder="Filter by {{col.description == null ? col.fieldName : col.description}}" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="col.value" name="{{i + col.fieldName}}" />
  <input *ngIf="col.criteria == 'dt_gte' || col.criteria == 'dt_lte' || col.criteria == 'dt_equals'" type="text" class="form-control" id="{{col.fieldName}}" placeholder="Filter by {{col.description == null ? col.fieldName : col.description}}" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="col.value" name="{{i + col.fieldName}}" />
</div>
