<nav-bar *ngIf="isAuthenticated"></nav-bar>
<app-header *ngIf="isAuthenticated"></app-header>
<!-- Page Not Found -->
<div class="pcoded-main-container" [ngClass]="{ 'portal': isAuthenticated, 'login': !isAuthenticated }">
  <div class="pcoded-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="card Recent-Users">
          <div class="card-header">
            <h1>Page Not Found</h1>
          </div>
          <div class="card-body">
            <div class="col-sm-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Not Found -->
